:root {
  --toastify-icon-color-info: #570df8 !important;
}
/* to load animation for a specific spinner */
@import '~spinners-react/lib/SpinnerCircular.css';

/* to load animations for all spinners at once */
@import '~spinners-react/lib/index.css';

/* Postcard animation */
.slideIn {
  opacity: 0;
  transition: all 1.5s;
  transition-timing-function: cubic-bezier(0, 0.65, 0.24, 1.01);
  transform: translateY(200px);
}
.slideIn.open {
  opacity: 1;
  transform: translateY(0px);
}

.Toastify__progress-bar {
  background-color: #570df8 !important;
}
