@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-indigo-600 focus:ring-indigo-500;
  }
}

.postCard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 50px;
  overflow: hidden;
  min-height: 200px;
  max-height: 50vh;
  border: 1px solid #000;
  border-radius: 10px;
}
.postCards-container {
  max-width: 50%;
  margin: auto;
}
